<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CourseRegProDb"
			 connectionString="Server=localhost;Port=3306;Database=CourseRegProDB;Uid=root;Pwd=Thanheuro127057$;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>